<a href="https://colab.research.google.com/github/Aniket1492/PdfML/blob/main/Dataprepforrecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
dataframe_list = [ ]

Customerdata = pd.read_excel('/content/prdCustomer.transaction-penny-01-01-2024.xlsx')
#print(Customerdata.columns)
for i in range(8):
  df1 = pd.DataFrame()
  si = str(i)
  columnlist = ['bill_detail['+si+'].product_category_name','bill_detail['+si+'].product_name','bill_detail['+si+'].qty','member_id']
  # print(columnlist)
  df1 = Customerdata.filter(columnlist, axis=1)
  member_Quantity= df1.groupby(["member_id","bill_detail["+si+"].product_name"])['bill_detail['+si+'].qty'].sum()
  # print(i)
  dataframe_list.append(member_Quantity)
  #pd.concat([final_data, member_Quantity],ignore_index=True)
pd.concat(dataframe_list, ignore_index=True)
print(type(dataframe_list))

<class 'list'>

In [51]:
final_data = pd.DataFrame(dataframe_list)
print(type(final_data))
final_data.to_excel("final_data_test.xlsx")

<class 'pandas.core.frame.DataFrame'>

In [52]:
from openpyxl.workbook import Workbook
from openpyxl import load_workbook
from openpyxl.utils.cell import range_boundaries

wb = load_workbook(filename = '/content/final_data_test.xlsx')

for st_name in wb.sheetnames:
    st = wb[st_name]
    mcr_coord_list = [mcr.coord for mcr in st.merged_cells.ranges]

    for mcr in mcr_coord_list:
        min_col, min_row, max_col, max_row = range_boundaries(mcr)
        top_left_cell_value = st.cell(row=min_row, column=min_col).value
        st.unmerge_cells(mcr)
        for row in st.iter_rows(min_col=min_col, min_row=min_row, max_col=max_col, max_row=max_row):
            for cell in row:
                cell.value = top_left_cell_value

wb.save('unmerged_tmp.xlsx')

In [ ]:
#### calculate total in excel using python code , currenly its done manually
## transpose the data